{% extends '::base.html.twig' %}
 
{% block body %}
<link href="/bundles/jordillonchcrudgenerator/css/bootstrap.css" rel="stylesheet">
 <link href="/bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/bundles/jordillonchcrudgenerator/css/crud.css" rel="stylesheet">
<div id="content">
    <div class="post">
        <h2 class="title">Consultas</h2>
        <div class="entry">
            <ul>
                <li>
                    <strong>                            
                                Obtener todos los pedidos hechos por un determinado empleado.                          
                    </strong>
                    <form action='pedidos' metod='post'>                        
                        <input type='text' name='nombre'>
                        <input type='submit' class="btn btn-success" value='Buscar'>
                        </form>                       
                </li>
                <br>
                <br>
                <li>
                    <strong>                        
                            Listar todos los clientes que coincidan con determinada cadena de caracteres en su nombre o apellido.                        
                        <form action='clientes' metod='post'>                        
                        <input type='text' name='nombre'>
                        <input type='submit' class="btn btn-success" value='Buscar'>
                        </form>    
                    </strong>
                </li>
                 <br>
                <br>
                <li>
                    <strong>                        
                            Obtener un listado de todas las compras hechas por un cliente y su total.                        
                            <form action='compras' metod='post'>                        
                        <input type='text' name='nombre'>
                        <input type='submit' class="btn btn-success" value='Buscar'>
                        </form>  
                    </strong>
                </li>
                 <br>
                <br>
                <li>
                    <strong>
                        <a href="{{ path('facturas') }}">
                            Listar todas las facturas que superen los $1000. 
                            </a>
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    {#<div class="post">
            <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
            <p class="meta">Posted by <a href="#">Someone</a> on November 8, 2011
                    &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
            <div class="entry">
                    <p><img src="{{ asset('images/img03.jpg') }}" width="186" height="186" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, consectetuer nisl felis ac diam. Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. Mauris vitae nisl nec metus placerat consectetuer. </p>
            </div>
    </div>
    <div class="post">
            <h2 class="title"><a href="#">Phasellus pellentesque turpis </a></h2>
            <p class="meta">Posted by <a href="#">Someone</a> on November 8, 2011
                    &nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
            <div class="entry">
                    <p><img src="{{ asset('images/img03.jpg') }}" width="186" height="186" alt="" class="alignleft border" />Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc. Donec ipsum. Proin imperdiet est. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc.</p>
            </div>
    </div>#}
    <div style="clear: both;">&nbsp;</div>
</div>
{% endblock %}